<div class="container">
  <h1 class="text-center">Savings Comparison</h1>

  <%= form_with url: compare_investments_path, method: :get, local: true do |f| %>
<table class="table custom-centered table-bordered border-dark table-striped" style="width: 20%; margin: 0 auto;">
  <tr>
    <th class="custom-centered"><%= f.label :investment1_id, "Select First Savings Entry" %></th>
    <th class="custom-centered"><%= f.collection_select :investment1_id, @investments, :id, :name, prompt: "Choose an entry" %></th>
  </tr>
  <tr>
    <th class="custom-centered"><%= f.label :investment2_id, "Select Second Savings Entry" %></th>
    <th class="custom-centered"><%= f.collection_select :investment2_id, @investments, :id, :name, prompt: "Choose an entry" %></th>
  </tr>
  <tr>
    <th colspan="2" class="custom-centered"><%= f.submit "Compare Savings", class: "logout-button" %></th>
  </tr>
</table>
  <% end %>

  <!-- Render the chart once investemnts chosen -->
  <% if @chart_data.present? %>
      <div class="custom-centered graph-container">
        <%= line_chart @chart_data, height: "700px", colors: ["#000000", "red"], xtitle: "Month Number", ytitle: "Value (£)" %>
      </div>
  <% end %>

  <div class="custom-centered mt-4">
    <%= button_to 'View Saved Entries', investments_path, method: :get, class: "logout-button" %>
  </div>
</div>