<div class="container">
  <h1 class="text-center">Investment Comparison</h1>

  <!-- Form for selecting investments -->
  <%= form_with url: compare_investments_path, method: :get, local: true do |f| %>
    <div class="row mb-4">
      <div class="col-sm">
        <%= f.label :investment1_id, "Select First Investment" %>
        <%= f.collection_select :investment1_id, @investments, :id, :name, prompt: "Choose an investment" %>
      </div>
      <div class="col-sm">
        <%= f.label :investment2_id, "Select Second Investment" %>
        <%= f.collection_select :investment2_id, @investments, :id, :name, prompt: "Choose an investment" %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "Compare Investments", class: "logout-button" %>
    </div>
  <% end %>

  <!-- Render the chart only if @chart_data is present -->
  <% if @chart_data.present? %>
    <div class="row mt-5">
      <div class="custom-centered graph-container">
        <%= line_chart @chart_data, height: "700px", colors: ["#000000", "red"], xtitle: "Month Number", ytitle: "Value (£)" %>
      </div>
    </div>
  <% end %>

  <div class="custom-centered mt-4">
    <%= button_to 'View Saved Investments', investments_path, method: :get, class: "logout-button" %>
    <%= button_to 'Add Investment', add_investment_path, method: :get, class: "logout-button" %>
  </div>
</div>